body {
    font-family: cursive;
    color: #303030;
    margin: 2em;
    background-color: aquamarine;
}
h1 {
    font-family: 'Trebuchet MS';
    /* color: blueviolet;     */
    font-size: 4em;
}
div.episode {
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px 20px;
    padding-bottom: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
}
div.episode iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: black;
    text-align: center;
}
header {
    /* font-family: 'Trebuchet MS'; */
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: black;
    text-align: center;
}
